<h2>Courses list</h2>

<%= form_tag courses_path,method:"get" do%>
Name<%= text_field_tag :name%>
Teacher<%=text_field_tag :teacher%>
Time <%=text_field_tag :time%>
Place <%=text_field_tag :place%>
Credit <%=text_field_tag :credit%>
<%=submit_tag "search"%>
<%end%>


<% @courses.each do|course| %>
	<%= link_to  course.name , course_path(course) %>
	<%= link_to "edit", edit_course_path(course) %>
	<%= link_to  "delete" , course_path(course) ,method:"delete"%>
	<br>
<%end%>