<h2>Course detail</h2>

<h3>Course name: <%= @course.name%></h3>
<h3>Teacher: <%= @course.teacher%></h3>
<h3>Course time: <%= @course.time%></h3>
<h3>Course place: <%= @course.place%></h3>
<h3>Course credits: <%= @course.credit%></h3>